.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.container {
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
}
* {
    /* This causes the width to stay 100% and include padding and margin within */
    box-sizing: border-box;
}

/* NAV STYLING STARTS HERE */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    background-color: black;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding-left: 0;
    align-items: center;
    color: #F9EC2E;
    font-family: 'Roboto', sans-serif;
}
.nav-left {
    color: #F9EC2E;
    font-family: 'Roboto', sans-serif;
}
.nav-left:hover {
    color: #C9234B;
}
.nav-link a {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 24px;
    text-decoration:none;
}
.nav-links li:hover {
    color: #C9234B;
    cursor: pointer;
}
/* NAV STYLING ENDS HERE */

/* HERO IMAGE STYLING STARTS HERE */
.hero-text {
    position: absolute;
    color: #f9ec2e;
    top: 50%;
    left: 50%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: lighter;
    transform: translate(-50%, -120%);
}
.hero-image {
    width: 100%;
    height: 600px;
    display: flex;
}
.backdrop {
    width: 100%;
}
/* HERO IMAGE STYLING ENDS HERE */

/* DATE CARD STYLING STARTS HERE */
.date {
    width: 70%;
    height: 25px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 80px;
}
.date-card {
    display: flex;
    background-color: #F8EC2E;
    width: 100%;
    color: #C9234B;
    border-radius: 5px;
    align-items: center;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
}
/* DATE CARD STYLING ENDS HERE */

/* SHOW TIMES STYLING STARTS HERE */
.shows {
    display: flex;
    width: 75%;
    justify-content: center;
    padding: 20px 0;
    flex-direction: column;
    margin: 100px 40px 100px 120px;
    align-items: center;
}
.shows img {
    height: 150px;
    width: 150px;
    display: flex;
}
.shows-info {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid #C9234B;
    margin: 0 auto;
    width: 85%;
    max-width: 1000px;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    gap: 60px;
    flex-wrap: wrap;
}
.button {
    background-color: #F9EC2E;
    border-radius: 2px;
    padding: 10px 10px;
    color: #C9234B;
    text-decoration: none;
    border: 1px solid #B4C7D4;
    width: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.button:hover {
    color: #F9EC2E;
    background-color: #C9234B;
}
/* SHOW TIMES STYLING ENDS HERE */

/* FOOTER STYLING STARTS HERE */
footer {
    padding: 50px 0;
    color: #F9EC2E;
    font-family: 'Roboto', sans-serif;
}

.footer-container {
    background-color: black;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.footer-map {
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.footer img {
    width: 100%;
}

footer a {
    color: #F9EC2E;
    text-decoration: none;
}

.footer-links {
    flex-grow: 1;
    text-align: left;
    padding: 0 25px;
}
.footer-links ul {
    list-style-type: none;
    padding: 0 10px;
}
.location {
    background-color: #F9EC2E;
    height: 18px;
    border-radius: 5px;
    align-items: center;
}
.email {
    background-color: #F9EC2E;
    height: 18px;
    border-radius: 5px;
    align-items: center;
}
.phone {
    background-color: #F9EC2E;
    height: 18px;
    border-radius: 5px;
    align-items: center;
}
.footer-links li:hover {
    color: #C9234B;
    cursor: pointer;
}
/* FOOTER STYLING ENDS HERE */